{% extends 'base.html.twig' %}

    {% block title %}Ajout!{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <h1>Ajouter un produit !!</h1>
    {{ form(product_form) }}


    </div>
{% endblock %}